<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/cssCDN') %>
    <title>HomePage</title>
</head>
<body>
  <%- include('../partials/navbar.ejs',{user}) %>
    <form action="/blog/add" method="post" enctype="multipart/form-data" >
        <div class="m-4">
            <label for="title" class="form-label">Upload Cover Image <i>(Optional)</i></label>
            <input type="file" class="form-control" name="coverimage">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" required>
          <label for="title" class="form-label">Blog Content</label>
          <textarea class="form-control" name="body" placeholder="Write blog content here" id="floatingTextarea" required></textarea>
          <button type="submit" class="btn btn-primary">Submit Blog</button>
          <a href="#" class="btn btn-primary" onclick="window.history.back(); return false;">Cancel Submission</a>
        </div>
        
      </form>
    <%- include('../partials/scriptCDN') %>
</body>
</html>