<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/cssCDN') %>
    <title>All Blogs</title>
</head>
<body>
    <%- include('../partials/navbar.ejs',{user}) %>
    <% if (blogs.length===0) { %>
        <h2>Currently no blog has been added. Click on Add blog to create a one..</h2>
    <% }else{ %>
    <div class="d-flex flex-row flex-wrap justify-content-evenly align-items-evenly m-4">
        <% blogs.forEach((blog,index) => {%>
            <%- include('../partials/card.ejs',{allblogs:true,blog,index:(blogs.length-index)}) %>
        <%}) %>

    </div>    
    

    <%}%> 
    
    
    <%- include('../partials/scriptCDN') %>
</body>
</html>