<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/cssCDN') %>
        <title>Sign Up</title>
</head>

<body>
    <%- include('../partials/navbar.ejs',{user}) %>
    <form class="m-4" action="/user/signup" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" id="fullName" name="fullName" class="form-control" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="profilepic" class="form-label">Upload Profile Pic <i>(Optional)</i></label>
            <input type="file" class="form-control" id="profilepic" name="profilepic" >
        </div>
        <div class="mb-3">
            <label for="about" class="form-label">Enter Your Bio Description</label>
            <textarea class="form-control" id="about" name="about" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    
        <%- include('../partials/scriptCDN') %>
</body>

</html>